body{
	margin: 0 auto;
	width: 900px;
	text-align: center;
	font-family: palatino;
}

h1 {
	font-size: 64px;
	margin-bottom: 0;
}

h2{
	margin-top: 0;
}
p {
	font-size: 32px;
}

nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 750px;
	margin-left: 75px;
}

ul {
	list-style-type: none;
	
}

li {
	display: inline;
	margin-right: 40px;
	padding-left: 3px;
	margin-top: 2px;
}
a {
	text-decoration: none;
	color: black;
	margin: 3px;
}
a:hover {
	color: blue;
}

.eye {
	margin-top: 30px;
}

.biobody {
	width: 750px;
	margin: 0 auto;
}
.hans {
	float: left;
	margin-right: 10px;
}

.bioheader {
	font-size: 48px;
	text-transform: bold;
	text-align: center;
	margin-bottom: 0px;
}

.author {
	margin-top: 8px;
}
.bio {
	font-size: 18px;
	text-align: left;
}
.filmsheader {
	font-size: 48px;
	text-transform: bold;
	text-align: center;
	margin-bottom: 0px;
}
.filmtitle {
	font-size: 28px;
}
.leftfilms {
	float: left;
	width: 350px;
	margin-left: 75px;
}
.filmtitle {
	font-style: italic;
}
.futureheader {
	font-size: 48px;
	text-transform: bold;
	text-align: center;
	margin-bottom: 30px;
}
.leftcolum {
	width: 220px;
	padding: 0px;
	float: left;
	margin-right: 65px;
}
.centercolum {
	width: 220px;
	float: left;
	padding-left: 60px;
	padding-right: 60px;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.rightcolumn {
	width: 200px;
	padding-left: 65px;
	float:left;
}
.futuretitle {
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
}
.futuredescription {
	font-size: 20px;
	font-weight: bold;
}
.futurecoming {
	font-size: 16px
}

